<h2>The Rankings</h2>

<% @videos.each do |video| %>

	<div>
		<strong>Title:</strong> <%= video.name %>
	</div>
	<div>
		<strong>Video:</strong>
		<iframe width="560" height="315" src="http://www.youtube.com/embed/<%= video.video %>" frameborder="0" allowfullscreen></iframe>
	</div>
	<div>
		<strong>Votes</strong>
		<%= video.votes %>
	</div>
	<%= link_to 'Delete', video, method: :delete %>

<% end %>

<%= link_to 'Home', home_index_path %>